<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hr.fer.ruzaosa.lecture4.ruzaosa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.activites.LeaderboardActivity"></activity>
        <activity android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.activites.MyProfileActivity" />
        <activity
            android:name=".k.activites.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".k.activites.LogInActivity" />
        <activity android:name=".k.activites.MenuActivity" />
        <activity android:name=".k.activites.RegistrationActivity" />
        <activity android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.activites.WaitRoomActivity"/>
        <activity android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.activites.GameActivity" />
        <activity android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.activites.ActivePlayersActivity" />
        <activity android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.activites.ChallengeActivity" />

        <!--<receiver android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.MyBroadcastReceiver">
       <intent-filter>
               <action android:name="fer.hr.ruazosa.memory" />
            </intent-filter>
        </receiver>-->

        <service android:name="hr.fer.ruzaosa.projekt.ruzaosa.memory.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/design_default_color_background" />
    </application>

</manifest>